In [ ]:
pip install advertools

In [1]:
import advertools as adv

In [2]:
kw_df = adv.kw_generate(products=['LG','Sony','Sharp'],
                words=['Ultra HD', '58 inch', '60 inch','65 inch','70 inch','75 inch','85 inch','buy','compare','discount'],
                match_types=['Exact','Phrase','Modified'],
                order_matters=False,
                max_len=2,
                campaign_name='High tech users',
               )

In [3]:
kw_df

           Campaign Ad Group           Keyword Criterion Type    Labels
0   High tech users       Lg       LG Ultra HD          Exact  Ultra Hd
1   High tech users       Lg       LG Ultra HD         Phrase  Ultra Hd
2   High tech users       Lg    +LG +Ultra +HD          Broad  Ultra Hd
3   High tech users       Lg        LG 58 inch          Exact   58 Inch
4   High tech users       Lg        LG 58 inch         Phrase   58 Inch
..              ...      ...               ...            ...       ...
85  High tech users    Sharp     Sharp compare         Phrase   Compare
86  High tech users    Sharp   +Sharp +compare          Broad   Compare
87  High tech users    Sharp    Sharp discount          Exact  Discount
88  High tech users    Sharp    Sharp discount         Phrase  Discount
89  High tech users    Sharp  +Sharp +discount          Broad  Discount

[90 rows x 5 columns]

In [4]:
def func(x):
    if 'inch' in x:
        return "size"
    elif 'QLED' in x:
        return "resolution"
    elif 'Ultra HD' in x:
        return "resolution"
    elif 'Tizen' in x:
        return "techie"
    else:
        return 'potential buyer'
    

kw_df['Ad Group'] = kw_df['Keyword'].apply(func)

In [5]:
def func1(criterion,keyword):
    if criterion=='Exact':
        return "["+keyword+"]"
    elif criterion=='Broad':
        return keyword
    else:
        return "'"+keyword+"'"
    
    
kw_df['Keyword'] = kw_df.apply(lambda x: func1(x['Criterion Type'], x['Keyword']),axis=1)

In [6]:
kw_df

,Campaign,Ad Group,Keyword,Criterion Type,Labels
0,High tech users,resolution,[LG Ultra HD],Exact,Ultra Hd
1,High tech users,resolution,'LG Ultra HD',Phrase,Ultra Hd
2,High tech users,potential buyer,+LG +Ultra +HD,Broad,Ultra Hd
3,High tech users,size,[LG 58 inch],Exact,58 Inch
4,High tech users,size,'LG 58 inch',Phrase,58 Inch
...,...,...,...,...,...
85,High tech users,potential buyer,'Sharp compare',Phrase,Compare
86,High tech users,potential buyer,+Sharp +compare,Broad,Compare
87,High tech users,potential buyer,[Sharp discount],Exact,Discount
88,High tech users,potential buyer,'Sharp discount',Phrase,Discount
89,High tech users,potential buyer,+Sharp +discount,Broad,Discount

In [7]:
kw_df

,Campaign,Ad Group,Keyword,Criterion Type,Labels
0,High tech users,resolution,[LG Ultra HD],Exact,Ultra Hd
1,High tech users,resolution,'LG Ultra HD',Phrase,Ultra Hd
2,High tech users,potential buyer,+LG +Ultra +HD,Broad,Ultra Hd
3,High tech users,size,[LG 58 inch],Exact,58 Inch
4,High tech users,size,'LG 58 inch',Phrase,58 Inch
...,...,...,...,...,...
85,High tech users,potential buyer,'Sharp compare',Phrase,Compare
86,High tech users,potential buyer,+Sharp +compare,Broad,Compare
87,High tech users,potential buyer,[Sharp discount],Exact,Discount
88,High tech users,potential buyer,'Sharp discount',Phrase,Discount
89,High tech users,potential buyer,+Sharp +discount,Broad,Discount

In [8]:
# Save the final keywords to a CSV file
kw_df.to_excel('high_tech_users_keywords.xlsx',index=False)

# View a summary of our campaign work
summary = kw_df.groupby(['Ad Group', 'Criterion Type'])['Keyword'].count()
summary

Ad Group         Criterion Type
potential buyer  Broad             12
                 Exact              9
                 Phrase             9
resolution       Exact              3
                 Phrase             3
size             Broad             18
                 Exact             18
                 Phrase            18
Name: Keyword, dtype: int64